/* General Styles */
.container {
	margin-bottom: 50px;
}

p {
	color: gray;
	font-size: 14px;
}

.button {
	background-color: #21b573;
	border: none;
	color: white !important;
	border-radius: 20px;
	padding: 10px 30px !important;
}

/* General Styles end */

/* Header */
#main-header {
	background-color: #f0fff0;
}

.nav-item {
	padding: 10px;
}
.nav-item .nav-link {
	color: black;
}

.green-text {
	color: #21b573;
}

.orange-text {
	color: #fc5b26;
}

#main-banner {
	margin-top: 50px;
	padding: 30px 50px;
}

/* Header ends */

/* Icons */
.icon {
	background-color: #f0fff0;
	text-align: center;
	padding: 20px;
	margin: 5px;
	border-radius: 10px;
}

#students-icon {
	box-shadow: 10px 10px 20px lightgray;
	background-color: white;
}
/* Icons end */
